@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {
    font-family: "Housegrind";
    src: url("../fonts/Housegrid/Housegrind.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: "Housegrind";
    src: url("../fonts/Housegrid/Housegrind.woff") format("woff");
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: "Housegrind";
    src: url("../fonts/Housegrid/Housegrind.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
  }


  @font-face {
    font-family: "Cormorant";
    src: url("../fonts/Cormorant/Cormorant-VariableFont_wght.woff2") format("woff2 supports variations"),
      url("../fonts/Cormorant/Cormorant-VariableFont_wght.woff2") format("woff2-variations");
    font-weight: 300 700;
    font-display: swap;
  }

  @font-face {
    font-family: "Cormorant";
    src: url("../fonts/Cormorant/Cormorant-Italic-VariableFont_wght.woff2") format("woff2 supports variations"),
      url("../fonts/Cormorant/Cormorant-Italic-VariableFont_wght.woff2") format("woff2-variations");
    font-weight: 300 700;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Cormorant";
    src: url("../fonts/Cormorant/Cormorant-VariableFont_wght.woff") format("woff supports variations"),
      url("../fonts/Cormorant/Cormorant-VariableFont_wght.woff") format("woff-variations");
    font-weight: 300 700;
    font-display: swap;
  }

  @font-face {
    font-family: "Cormorant";
    src: url("../fonts/Cormorant/Cormorant-Italic-VariableFont_wght.woff") format("woff supports variations"),
      url("../fonts/Cormorant/Cormorant-Italic-VariableFont_wght.woff") format("woff-variations");
    font-weight: 300 700;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Cormorant";
    src: url("../fonts/Cormorant/Cormorant-VariableFont_wght.ttf") format("truetype supports variations"),
      url("../fonts/Cormorant/Cormorant-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 300 700;
    font-display: swap;
  }

  @font-face {
    font-family: "Cormorant";
    src: url("../fonts/Cormorant/Cormorant-Italic-VariableFont_wght.ttf") format("truetype supports variations"),
      url("../fonts/Cormorant/Cormorant-Italic-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 300 700;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Josefin_Sans";
    src: url("../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.woff2") format("woff2 supports variations"),
      url("../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.woff2") format("woff2-variations");
    font-weight: 300 700;
    font-display: swap;
  }

  @font-face {
    font-family: "Josefin_Sans";
    src: url("../fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.woff2") format("woff2 supports variations"),
      url("../fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.woff2") format("woff2-variations");
    font-weight: 300 700;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Josefin_Sans";
    src: url("../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.woff") format("woff supports variations"),
      url("../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.woff") format("woff-variations");
    font-weight: 300 700;
    font-display: swap;
  }

  @font-face {
    font-family: "Josefin_Sans";
    src: url("../fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.woff") format("woff supports variations"),
      url("../fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.woff") format("woff-variations");
    font-weight: 300 700;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Josefin_Sans";
    src: url("../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf") format("truetype supports variations"),
      url("../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 300 700;
    font-display: swap;
  }

  @font-face {
    font-family: "Josefin_Sans";
    src: url("../fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf") format("truetype supports variations"),
      url("../fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 300 700;
    font-style: italic;
    font-display: swap;
  }
}

@layer components {
  body {
    font-family: "Josefin_Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #4d4d4d;
    background-color: #fff;
    text-align: justify;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Cormorant, serif;
    color: #0e0e0e;
    font-weight: 500;
    text-align: left;
  }

  h1 {
    @apply text-60px
  }

  h2 {
    @apply text-43px
  }

  h3 {
    @apply text-35px
  }

  h4 {
    @apply text-25px
  }

  a {
    @apply ease-in-out duration-300
  }

  a:hover {
    @apply text-brown
  }
}

@layer utilities {
  .splide__arrows {
    @apply z-10 absolute w-full px-10 top-1/2 -translate-y-5
  }

  .splide__arrow {
    @apply fill-black p-4 -m-4 opacity-90 absolute
  }

  @media (min-width: 1100px) {
    .splide__arrow {
      @apply p-0 m-0
    }

  }

  .splide__arrow:hover {
    @apply fill-brown
  }

  .splide__arrow:disabled {
    @apply fill-white
  }

  .splide__arrow--prev {
    @apply -scale-100
  }

  .splide__arrow--next {
    @apply right-10
  }

  /* Home page hero split */

  .hero-grid-split {
    grid-template-columns: 46% 46%;
    gap: 0% 8%;
  }

  .hero-grid-hill-street {
    grid-template-columns: 66.5% 30.5%;
    gap: 0% 3%;

  }

  .hero-grid-robberg-ridge {
    grid-template-columns: 30.5% 66.5%;
    gap: 0% 3%;
  }
}